<div class='product-container'>
  <div class='product-container__image'>
    <img src='{{product?.image}}' alt='product_{{product?.id}}'>
  </div>
  <div class='product-container__info'>
    <p class='product-container__info__type'>{{productTypeDictionary.get(product?.type)}}</p>
    <p class='product-container__info__description'>{{product?.description}}</p>
    <p class='product-container__info__stock'>Cantidad {{isHistoryProduct ? 'adquirida' : 'disponible'}}:
      {{isHistoryProduct ? product?.buyQuantity : product?.stock}}</p>
    <p class='product-container__info__price'>Precio: {{product?.price | currency: '':'$ ':'1.0-0':'en_US'}}</p>
    <p *ngIf='isHistoryProduct' class='product-container__info__stock'>
      Fecha de compra: {{product?.boughtAt | date: 'dd/MM/yyyy hh:mm'}}
    </p>
    <button id='addToCart{{product?.id}}' *ngIf='!isHistoryProduct' pButton pRipple type='button'
      class='product-container__info__cart-button p-btn-primary' (click)='addToCart(product)'
      label='Añadir al carrito'></button>
  </div>
</div>
