<div class='cart-summary'>
  <h2>Resumen de tu orden</h2>
  <div class='cart-summary__prices'>
    <p>Sub-total productos <span>{{subTotalPrice | currency: '':'$ ':'1.0-0':'en_US'}}</span></p>
    <p>Costo de envío <span>{{shippingPrice | currency: '':'$ ':'1.0-0':'en_US'}}</span></p>
    <p>Descuentos <span>- {{discount | currency: '':'$ ':'1.0-0':'en_US'}}</span></p>
    <p>Total <span>{{subTotalPrice + shippingPrice - discount | currency: '':'$ ':'1.0-0':'en_US'}}</span></p>
  </div>
  <div class='cart-summary__shipping'>
    <p>Fecha estimada de entrega</p>
    <div class='p-field-checkbox'>
      <p-checkbox [(ngModel)]='plusShipping' binary='true' inputId='plusShipping'></p-checkbox>
      <label for='binary' class='ml-2'>Deseo recibir mi pedido un día específico</label>
    </div>
  </div>
  <div class='cart-summary__payment mt-6'>
    <button pButton pRipple type='button' class='p-btn-primary p-button-lg' label='Comprar'></button>
  </div>
</div>
