<div class='container'>
  <div class='grid'>
    <div class='col-12 lg:col-8'>
      <div class='cart-tittle'>
        <h1 class='sm:ml-4'>Carrito de compras <span>({{productsOnCart.length}} productos)</span></h1>
      </div>
      <ng-template ngFor let-product [ngForOf]='productsOnCart' [ngForTrackBy]='(" id" | trackBy)'>
        <app-cart-product-element [product]='product' (quantityChanged)='changeProductQuantity()'
          (removeFromCart)='removeProductFromCart($event)'>
        </app-cart-product-element>
      </ng-template>
      <div *ngIf='productsOnCart.length === 0' class='cart-empty'>
        <h2>
          No hay elementos en el carrito de compras
        </h2>
        <strong id='addProducts' routerLink='/products'>Agregar productos</strong>
      </div>
    </div>
    <div class='col-12 lg:col-4'>
      <app-cart-summary [productsOnCart]='productsOnCart' (emitCheckoutData)="showCheckoutData()"></app-cart-summary>
    </div>
  </div>
</div>
<p-dialog [(visible)]="showCartCheckoutData" [breakpoints]="{'960px': '70vw', '640px': '90vw'}"
  [style]="{width: '40vw'}" header="Finalizar compra" [modal]="true">
  <app-checkout-data (finishCheckout)="finishCheckout()"></app-checkout-data>
</p-dialog>
<p-toast></p-toast>
